POSTGRES_DB=fei2026
POSTGRES_USER=fei
POSTGRES_PASSWORD=fei2026tp
POSTGRES_PORT=5432

DJANGO_PORT=8000
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

DB_HOST=postgres
DB_PORT=5432
